* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    height: 100vh;
    background-color: aliceblue;
    overflow-y: scroll;
}


/* .header {
    margin-bottom: auto;
}

.footer {
    margin-top: auto;
} */

.intro-section, .info-section, .quote-section {
    height: 400px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.action-section {
    height: 270px;
    flex-shrink: 0;
}


.intro-section {
    background-color: rgb(48, 45, 61);
    color: white;

    padding: 0 150px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    

}



.header-links {
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    margin-bottom: auto;
}

.hero-text-subsection {
    width: 450px;

}


.hero-button {
    background-color: rgb(72, 115, 255);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 30px;
    border: none;
    margin-top: 15px;
}

.info-section {
    text-align: center;
    padding: 50px;
    height: 450px;
}

.info-heading {
    margin-bottom: 35px;
}

.info-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    width: 180px;
    height: 250px;
    border: 10px solid rgb(149, 149, 255);
    background-color: blanchedalmond;
    border-radius: 10px;
}

.card-image {
    
    width: 180px;
    height: 200px;
    object-fit: cover;
}

.quote-section {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote-attribution {
    margin-left: auto;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-card {
    width: 900px;
    height: 50px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    background-color: rgb(72, 115, 255);
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.action-button {
    font-weight: bold;
    padding: 5px 30px;
    background-color: rgb(72, 115, 255);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

.footer {
    background-color: rgb(48, 45, 61);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    font-size: 16px;
}

/*assignment styles*/

.intro-section, .footer {
    background-color: #1F2937;
}

.hero-heading {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;

}

.hero-text, .header-links {
    font-size: 18px;  
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .action-card {
    background-color: #3882F6;
}

.info-heading {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic; 
    color: #1F2937;
}

.hero-image {
    height: 300px;
    border-radius: 20px;
}

.header-logo {
    border-radius: 50%;
    height: 60px;
    width: auto;
}



a:visited {
    color:rgb(255, 171, 255);
}

a:active {
    color: red;
}